#app,
body,
html {
  height: 100%;
}

body {
  background: #ecf0f1 !important;
  font-family: Microsoft YaHei !important;
}

.router-enter-active {
  transition: all 0.3s ease;
}

.router-leave-active {
  transition: all 0.3s ease;
}

.router-enter,
.router-leave-active {
  opacity: 0;
}

.goup-container {
  z-index: 200;
  background: #2c3e50 !important;
}

.icon-wrapper {
  position: relative;
}

.field-icon {
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  transition: 0.25s;
}

.click-icon {
  cursor: pointer;
}

.click-icon:hover {
  color: #1aba9c;
}

.table th {
  vertical-align: middle !important;
  font-weight: bold;
}

.table-content-center {
  margin-bottom: 0px !important;
  th {
    text-align: center;
    vertical-align: middle !important;
  }
  td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.thumbnail {
  margin-bottom: 0px !important;
}

.action-button {
  height: 125px;
  margin-bottom: 15px;
}

.big-btn {
  height: 100%;
  width: 100%;
  line-height: 2.2 !important;
  font-size: 45px !important;
  font-weight: bold !important;
  border-radius: 0px !important;
}

.table-bordered th, td {
  border: 1px solid #d0d5d6 !important;
}

.table-th-horizontal {
  th {
    font-size: 1.5em;
    padding: 10px;
  }
  td {
    padding: 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .table-th-horizontal {
    th {
      font-size: 1em;
      padding: 5px 0 5px 0;
    }
    td {
      font-size: 1em;
      padding: 5px 0 5px 0 !important;
    }
  }
}