#app,
body,
html {
  height: 100%;
}

body {

  font-family: Microsoft YaHei !important;
}

.router-enter-active {
  transition: all 0.3s ease;
}

.router-leave-active {
  transition: all 0.3s ease;
}

.router-enter,
.router-leave-active {
  opacity: 0;
}

.goup-container {
  z-index: 200;
  background: #2c3e50 !important;
}

.icon-wrapper {
  position: relative;
}

.field-icon {
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  transition: 0.25s;
}

.click-icon {
  cursor: pointer;
}

.click-icon:hover {
  color: #1aba9c;
}

.table th {
  font-weight: bold;
}

.table-content-center {
  margin-bottom: 0 !important;
  th {
    text-align: center;
    vertical-align: middle !important;
  }
  td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.thumbnail {
  margin-bottom: 0 !important;
}

.action-button {
  height: 125px;
  margin-bottom: 15px;
}

.big-btn {
  height: 100%;
  width: 100%;
  line-height: 2.2 !important;
  font-size: 45px !important;
  font-weight: bold !important;
}

.btn {
  border-radius: 0 !important;
}

.table-bordered th, td {

}

.table-th-horizontal {
  th {
    font-size: 1.5em;
    padding: 10px;
  }
  td {
    padding: 10px !important;
  }
}

.close {
  color: black !important;
}

.alert {
  border-radius: 0 !important;
  text-align: center;
}

.confirm-title {
  font-size: 2em;
}

.confirm-prompt {
  font-size: 1.2em;
  padding: 20px;
}

.confirm-tip {
  padding: 20px;
}

.fa {
  margin-top: 2px;
  margin-left: 5px;
  color: #c4d5d6;
}

.spop-icon {
  top: 0 !important;
  bottom: 0 !important;
  margin: auto;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel {
  border-radius: 0 !important;
}

@media screen and (max-width: 400px) {
  .table-th-horizontal {
    th {
      font-size: .8em;
      padding: 5px 0 5px 0;
    }
    td {
      font-size: .8em;
      padding: 5px 0 5px 0 !important;
    }
  }
}